<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50","top":"0","bottom":"0"},"blockGap":"0px"},"dimensions":{"minHeight":"0px"},"color":{"gradient":"linear-gradient(196deg,rgb(10,58,66) 66%,rgb(124,216,224) 100%)"}},"fontFamily":"system-font","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-background has-system-font-font-family" style="background:linear-gradient(196deg,rgb(10,58,66) 66%,rgb(124,216,224) 100%);min-height:0px;margin-top:0;margin-bottom:0;padding-top:0;padding-right:var(--wp--preset--spacing--50);padding-bottom:0;padding-left:var(--wp--preset--spacing--50)"><!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0"},"margin":{"top":"var:preset|spacing|50"}},"border":{"left":{"width":"0px","style":"none"},"top":[],"right":[],"bottom":[]},"elements":{"link":{"color":{"text":"var:preset|color|accent-2"}}}},"backgroundColor":"accent-6","textColor":"accent-2","layout":{"type":"constrained"}} -->
<main class="wp-block-group has-accent-2-color has-accent-6-background-color has-text-color has-background has-link-color" style="border-left-style:none;border-left-width:0px;margin-top:var(--wp--preset--spacing--50);padding-top:0"><!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|accent-2"}}},"shadow":"none"},"textColor":"accent-2","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-accent-2-color has-text-color has-link-color" style="box-shadow:none"><!-- wp:post-content {"fontFamily":"system-font","layout":{"inherit":true}} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","align":"center","className":"#socials"} /-->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->